# Base de datos (Using quotes for the space and prefix for the folder)
"Taller1/Base de datos/*"
!"Taller1/Base de datos/.gitkeep"

# Graficas
"Taller1/Graficas/*"
!"Taller1/Graficas/.gitkeep"

# Regresiones
"Taller1/Regresiones/*"
!"Taller1/Regresiones/.gitkeep"

# R específicos
.Rhistory
.RData
.Ruserdata
.Rproj.user/