# Base de datos

Base de datos/*
!Base de datos/.gitkeep

# Graficas

Graficas/*
!Graficas/.gitkeep

# Regresiones

Regresiones/*
!Regresiones/.gitkeep

# R específicos
.Rhistory
.RData
.Ruserdata
.Rproj.user/